.author {
  &-info {
    width: 321px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &-info-image {
    display: flex;
    gap: 10px;
  }

  &-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &-name {
    font-family: Helvetica Neue;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000cc;
  }
  &-email {
    font: 400 11px / 1.1 HeliosC;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.3);
  }

  &-image {
    border-radius: 50%;
    object-fit: cover;
  }
}
